@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:target {
  scroll-margin-top: 100px;
}

:root {
  --WhiteBlue: #daf0f5;
  --White: #ffffff;
  --WhiteB: #e0eced;
  --Greey: #efefef;
  --GreeyD: #919191;
  --GreeyTransparant: hsla(0, 0%, 21%, 0.531);
  --GreeyDarked: hsla(0, 0%, 81%, 0.294);
  --shadow: 0px 10px 10px hsla(0, 0%, 40%, 0.3);
  --shadowLittle: 0px 10px 10px hsla(0, 0%, 40%, 0.2);
  --textshadow: 0px 5px 5px hsla(0, 0%, 40%, 0.3);
  --border: 2px solid hsla(0, 0%, 54%, 0.318);
  --BlueGreenWhite: #ffffff;
  --BlueGreen: #088395;
  --BlueDarker: #0a5c68;
  --DarkBlue: #22252f;
  --Black: #242424;

  --Created: #ff1515;
  --bg-dark: #ffffff;
  --text-dark: #cbd4dd;
  --surface-dark: #1e293b;
  --surface-hover-dark: #9babc2;
  --primary-glow: #38bdf8;
  --accent-dark: #c3e8ee;
  --text-secondary-dark: #94a3b8;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background-color: var(--Greey);
  width: 100%;
}

.dark-mode {
  --WhiteBlue: #1e293b;
  --White: #0f172a;
  --WhiteB: #1e293b;
  --Greey: #334155;
  --GreeyD: white;
  --GreeyTransparant: hsla(0, 0%, 21%, 0.531);
  --GreeyDarked: hsla(0, 0%, 81%, 0.294);
  --shadow: 0px 10px 10px hsla(0, 0%, 40%, 0.3);
  --shadowLittle: 0px 10px 10px hsla(0, 0%, 40%, 0.2);
  --textshadow: 0px 5px 5px hsla(0, 0%, 40%, 0.3);
  --border: 2px solid hsla(0, 0%, 54%, 0.318);
  --BlueGreenWhite: #0f172a;
  --BlueGreen: #38bdf8;
  --BlueDarker: #0ea5e9;
  --DarkBlue: #1e40af;
  --Black: #f1f5f9;

  --bg-dark: #0f172a;
  --text-dark: #f1f5f9;
  --surface-dark: #1e293b;
  --surface-hover-dark: #334155;
  --primary-glow: #38bdf8;
  --accent-dark: #334155;
  --text-secondary-dark: #94a3b8;
}

a {
  text-decoration: none;
}

hr {
  border-top: 1px solid var(--BlueDarker);
  opacity: 0.2;
}

.trending p {
  color: var(--BlueGreen);
}

::placeholder {
  color: var(--BlueGreen);
  opacity: 0.4;
}



.main-flex {
  display: flex;
  width: 50%;
  margin-left: 25%;
  border-right: solid 0.3px var(--WhiteBlue);
  height: 100%;
  border-right: solid 0.3px var(--WhiteBlue);
  padding-bottom: 100px;
}

.main-feed {
  width: 97.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 3%;
}

.textarea {
  background-color: var(--WhiteBlue);
  font-size: 1.5rem;
  border: none;
  color: var(--BlueGreen);
  outline: none;
  border-radius: 50px;
  padding: 2px 31px;
  /* resize: none; */
  cursor: pointer;
  padding: 12px;
}

.new-tweet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  padding: 4px 4px;
  background-color: var(--White);
  border-radius: 50px;
  box-shadow: 0px 3px 10px hwb(0 0% 80% / 0.32);
}

.textarea::placeholder {
  position: relative;
  top: 10px;
}

.new-tweet .tweet-img {
  width: 63px;
  height: 63px;
  background-size: 63px;
  cursor: pointer;
}

.new-tweet .new-post-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 73px);
  margin-left: 10px;
}


.new-tweet .new-post-header input {
  height: 150px;
  max-height: 150px;
  background-color: var(--WhiteBlue);
  font-size: 2rem;
  border: none;
  color: white;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
}

.no-border {
  border: none;
  background-color: transparent !important;
}

.no-border:hover {
  transform: scale(1);
}

.react,
.comment {
  display: flex;
  gap: 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.trending-item:hover {
  background-color: var(--BlueGreen);
}

.trending-item:hover .item-category p,
.trending-item:hover span {
  color: white;
}

.post-header {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.ProfileImage {
  width: 50px;
  height: 50px;
  background-size: 46px;
  background-repeat: no-repeat;
}

.closed {
  display: none !important;
}

.postContainer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--GreeyTransparant);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 16;
  transition: all 1s;
  overflow-y: auto;
}

@keyframes fromLeft {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .textarea {
    font-size: 1.2em;
    height: 90%;
    color: var(--BlueGreen);
    /* background-color: red; */
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: left;
    align-items: center;
  }


  .new-tweet {
    margin: 0px;
  }



  .tweet-button {
    width: 100%;
  }

  .main-feed {
    padding-right: 0px;
  }

  .main-flex {
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .notif,
  .nav-mobile {
    display: flex;
  }

  .main-feed {
    margin-top: 60px;
  }

  #posts {
    display: none;
  }

  #posts:target {
    display: flex;
    justify-content: center;
  }

  .nav-mobile a div {
    position: relative;
    font-size: 20px;
    padding: 0px 10px 10px 10px;
    color: white;
  }

  .nav-mobile a div:hover::after {
    width: 100%;
  }

  .nav-mobile a.active div::after {
    width: 100%;
  }

  .nav-mobile a div.clicked {
    border-bottom: 4px solid var(--BlueGreen);
  }

  .nav-mobile a div {
    display: inline-block;
    transition: border-bottom 0.3s ease;
  }

  .nav-mobile a div:focus {
    outline: none;
    border-bottom: 4px solid var(--BlueGreen);
  }
}

.new-tweet .new-post-header textarea::placeholder {
  position: relative;
  top: 25%;
}

.nav-links span {
  font-size: 1rem;
}

.switch-icon span {
  font-size: 30px;
  transition: rotate 0.5s;
  /* vertical-align: middle; */
}

.Profile {
  font-size: 20px;
}

.display {
  display: flex !important;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-mobile {
  display: none;
  justify-content: space-evenly;
  padding: 8px 15px;
  width: 100%;
  height: 50px;
  background-color: #0f172a;
  position: fixed;
  font-size: 20px;
  font-weight: 600;
  border-bottom: solid 1px var(--GreeyD);
  z-index: 4;
}

.CommentErrorMessage {
  display: none;
  color: white;
  transition: all 0.5s;
  position: absolute;
  font-size: 14px;
  z-index: 25;
  right: 0px;
  top: -60px;
  background-color: #ff4c4c;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  width: fit-content;
}

.MsgContainer {
  background-color: #ff6666;
  width: fit-content;
  padding: 10px;
  border-radius: 19px;
  margin-top: 10px;
  box-shadow: var(--shadow);
  border-bottom: solid 1px grey;
  z-index: 10;
}

.profileImage img {
  width: 100%;
  height: 100%;
}